/* *{ */
    /* align-items: center;
    left: 50%;
} */

body #quiz{
    display: block;
    position: relative;
    align-items: center;
}

#question{
    position: relative;
}

#answer1, #answer2, #answer3, #answer4{
    display: flex;
    height: 30px;
    width: 200px;
    justify-content: space-between;
    align-items: center;
    
}

#startGameButton{
    margin: 30px;
}




